<li>
	{{burger_name}}

	<button class="change-burger" data-id="{{id}}" data-ifeaten="{{devour}}" style="font-size:15px">
		{{#if devour}} <img src="../../images/eat.png" alt="burger" height="20" width="20"> Devour!{{else}} NOT EATEN!{{/if}}
	</button>


	
</li>