

<div class="container">
  <div class="row">
      <div class="col-md-6">
        <h1 class="welcome"> <img src="../../images/burger.png" alt="burger" height="90" width="90"> Lorna Burg</h1>
      </div>
  
      <h5 class="ml8">
        <span class="letters-container">
          <span class="letters letters-left">We're Open!</span>
        </span>
      </h5>
    </div>


      <div class="row">
        <div class="col s12 m8">
          <div class="burgerMenu card">
            <div class="card-content black-text">
              <span class="card-title orange-text" style="font-weight:bold"> Burger Menu</span>
              <ul style="list-style: none; font-size: 20px">
              {{#each burgers}}
                {{#unless devoured}}
                {{> burger-block devour=true}}
                {{/unless}}
              {{/each}}
            </ul>
            </div>
          </div>
        </div>


        <div class="col s12 m4">
          <div class="burgerMenu card">
            <div class="card-content black-text">
              <span class="card-title orange-text" style="font-weight:bold">Ordered</span>
              <ul style="list-style: none; font-size: 20px">
                {{#each burgers}}
                  {{#if devoured}}
                  {{> burger-block devour=false}}
                  {{/if}}
                {{/each}}
            </ul>
            </div>
          </div>
        </div>
      </div>

  <div class="row">
      <div class="col m12 s12">
          <form class="create-form">
              <div class="form-group">
                  <label for="burg">
                      <h5>Know of a good burger? Add it to our menu...</h5></label>
                  <input type="text" id="burg" name="name">
              </div>
              <button type="submit"> <img src="../../images/eat.png" alt="burger" height="20" width="20">  Add Burger</button>
          </form>
      </div>
  </div>

</div>
