.welcome{
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0px;

}
.ml8 {
  text-align: center;
  font-style: cursive;
  text-shadow: 1px 1px pink;
}

h3{
  font-family: 'Pacifico', cursive;
}
.menu{
  background-image: "../../images/regal.png";
  border-style: solid;
 /* display: inline-block;*/
/*    display: table;
  margin: 0 auto;*/
}

.burgerMenu{
  background-image: url("../../images/regal.png");
  border-style: solid;
  margin-right: 20px;
 /* padding: 20px 50px;*/
  padding-right: 20%;
  padding-left: 20%;
  display: inline-block;
}



.ate{
  background-image: url("../../images/regal.png");
  border-style: solid;
}