.welcome{
  text-align: center;
  font-family: 'Pacifico', cursive;
  margin-bottom: 0px;

}
.ml8 {
  text-align: center;
  font-style: cursive;
  text-shadow: 1px 1px pink;
}

h2{
  font-family: 'Pacifico', cursive;
}
.menu{
  background-image: "../../images/regal.png";
  border-style: solid;
 /* display: inline-block;*/
/*    display: table;
  margin: 0 auto;*/
}

.nav-wrapper{
  background-color: #ea955b;
}

.titleMenu{
  background-color: grey;
}

.burgerMenu{
  background-image: url("../../images/regal.png");
  border-style: solid;
  text-align: center;
}


.ate{
  background-image: url("../../images/regal.png");
  border-style: solid;
  text-align: center;
}

.create-form{
  text-align: center;
  margin: 0 auto;
}

#burg{
  width: 50%;
  text-align: center;

}